{% extends 'base.html' %}

{% block content %}

<h1 class="text-center mb-4">
    Trending Playlists
</h1>

<div class="row">

    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="https://picsum.photos/400/250?random=1"
                 class="card-img-top"
                 alt="Top Hits">

            <div class="card-body">
                <h5 class="card-title">Top Hits</h5>
                <p class="card-text">Latest popular songs.</p>
            </div>
        </div>
    </div>


    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="https://picsum.photos/400/250?random=2"
                 class="card-img-top"
                 alt="Chill Vibes">

            <div class="card-body">
                <h5 class="card-title">Chill Vibes</h5>
                <p class="card-text">Relax with amazing music.</p>
            </div>
        </div>
    </div>


    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="https://picsum.photos/400/250?random=3"
                 class="card-img-top"
                 alt="Workout">

            <div class="card-body">
                <h5 class="card-title">Workout Music</h5>
                <p class="card-text">Music for your workout.</p>
            </div>
        </div>
    </div>


    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="https://picsum.photos/400/250?random=4"
                 class="card-img-top"
                 alt="Romantic">

            <div class="card-body">
                <h5 class="card-title">Romantic Songs</h5>
                <p class="card-text">Best romantic songs.</p>
            </div>
        </div>
    </div>


    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="https://picsum.photos/400/250?random=5"
                 class="card-img-top"
                 alt="Party">

            <div class="card-body">
                <h5 class="card-title">Party Songs</h5>
                <p class="card-text">Music for your party.</p>
            </div>
        </div>
    </div>


    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="https://picsum.photos/400/250?random=6"
                 class="card-img-top"
                 alt="Trending">

            <div class="card-body">
                <h5 class="card-title">Trending Now</h5>
                <p class="card-text">Currently trending music.</p>
            </div>
        </div>
    </div>

</div>

{% endblock %}